.features {

    p{
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 40px;
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
        margin: 25px;
        text-align: center;

        @media (max-width: 1024px) {
            font-size: 30px;
        }

        @media (max-width: 550px) {
            font-size: 15px;
        }
    }

    max-width: 90%;
    justify-content: center;
    margin: 0 auto;

    .heading {
        border-radius: 20px;
        color: #37170a;
        margin: 100px auto 25px;
        padding: 5px 60px;
        position: relative;
        box-shadow: 0px 1px 5px #999;
        background-color: #f5bc66;
        max-width: fit-content;
        margin-bottom: 50px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);

        p {
            font-family: "Oswald", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            font-size: 50px;
            text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
            margin: 0px;
        }
    }

    .feature-box {
        background-color: #5a2c0d;
        border-radius: 30px;
        height: 225px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
        border: 2.5px solid #f5bc66;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);

        @media (max-width: 768px) {
            height: 80px;
            font-size: 16px;
        }

        @media (max-width: 480px) {
            height: 60px;
            font-size: 12px;
        }
    }
}

@media (max-width: 768px) {
    .features .heading p {
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .features .heading p {
        font-size: 23px;
    }
}
